<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Cart</div>
    </nav>
    <main class="main-cart">

      <div class="cart-container">
        <div class="go-back">
          <script>
          document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>
        <div class="cart-list">
        <form>
        <h2>Cart</h2>
        <hr>
          <div class="cart-items">
            <div class="cart-list-left">
              <% tteok.forEach(tteok => { %>
                <a href="/cart/<%= tteok._id %>/review">Edit</a>
                <a href="/cart/<%= tteok._id %>?_method=DELETE">&nbsp;Delete</a>
                <font class="tab"><%= tteok.name %></font><br>
              <% }) %>
            </div>
            <div class="cart-list-right">
              $15
            </div>
          </div>
          <hr>
          <div class="cart-list-right">
            Total - $15
          </div>
          <br><br>
          <div class="payment-info">
            <input type="submit" value="Payment info"></input>
          </div>
        </div>
      </form>
      <div class="bowl-img">
        <img src="https://via.placeholder.com/446x409.png">
      </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>