<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Review</div>
    </nav>
    <main class="main-review">
      <div class="review-container">
        <div class="go-back">
          <script>
            document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>

        <div class="review-list">

            <div class="review-items">
              <div class="review-list-left">
                <%= tteok.name %>
              </div>
              <div class="review-list-right">
                $15
              </div>
            </div>
            <hr>
            <div class="review-list-right">
              Total - $15
            </div>

          </div>
          
        <div class="bowl-img-review">
          <img src="https://via.placeholder.com/446x409.png">
        </div>

      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>