<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Review</div>
    </nav>
    <main class="main-review">
      <div class="review-container">
        <div class="go-back">
          <script>
            document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>

        <div class="review-list">
          <h2>Review/Edit Bowl</h2>
          <hr>
            <div class="review-items">
              <div class="review-list-left">
                <form action="/cart/<%=tteok._id%>/review?_method=PUT" method="POST">

                  Spice Level<br><br>
                  <input type="hidden" id="name" value="Custom Tteok Bowl 2" name="name">
                  <input type="radio" id="mild" value="Mild" name="spiceLevelName"><label for="mild">Mild</label>
                  <input type="radio" id="original" value="Original" name="spiceLevelName"><label for="original">Original</label>
                  <br>
                  <input type="checkbox" id="rice-cakes" value="Rice Cakes" name="riceCakesName"><label for="rice-cakes"><font class="tab">Rice cakes</font></label><br>
                  <input type="hidden" id="rice-cakes-price" value="3" name="riceCakesPrice">
                  <input class="tab" type="checkbox" id="rice-cakes-extra" value="true" name="riceCakesExtrasChoice"><label for="rice-cakes-extra"><font class="tab">Extra</font></label><br>
              </div>
              <div class="review-list-right">

              </div>
            </div>
            <hr>
            <div class="review-list-right">
              Total - $
            </div>
            <br><br>
            <div class="edit-bowl">
              <input type="submit" value="Edit bowl"></input>
            </div>
          </form>
          </div>
          
        <div class="bowl-img-review">
          <img src="https://via.placeholder.com/446x409.png">
        </div>

      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>