<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Review</div>
    </nav>
    <main class="main-review">
      <div class="review-container">
        <div class="go-back">
          <script>
            document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>

        <div class="review-list">
          <h2>Review/Edit Bowl</h2>


                <form action="/cart/<%=tteok._id%>/review?_method=PUT" method="POST">
                  Spice Level
                  <hr>
                  <input type="hidden" id="name" value="Custom Tteok Bowl" name="name">


                  <input type="radio" id="mild" value="Mild" name="mild" <%= tteok.spiceLevel.mild ? "checked" : "" %>>
                  <label for="mild">Mild</label>
                  <input class="tab" type="radio" id="original" value="Original" name="original" <%= tteok.spiceLevel.original ? "checked" : "" %>>
                  <label for="original">Original<img src="https://i.imgur.com/x3riXKv.png"></label>
                  <input class="tab" type="radio" id="spicy" value="Spicy" name="spicy" <%= tteok.spiceLevel.spicy ? "checked" : "" %>>
                  <label for="spicy">Spicy<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
                  <input class="tab" type="radio" id="volcano" value="Volcano" name="volcano" <%= tteok.spiceLevel.volcano ? "checked" : "" %>>
                  <label for="volcano">Volcano<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>

                  <br><br><br>

                  Toppings
                  <hr>
                  <div class="review-items">
                    <div class="review-list-left">

                      <label>
                        <input class="calc" type="checkbox" name="riceCakesName"  value="Rice Cakes" <%= tteok.toppings.riceCakes.name ? "checked" : "" %>/>
                        Rice cakes
                         <input type="hidden" name="riceCakesNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="riceCakesExtrasName"  value="Rice Cakes Extras" <%= tteok.toppings.riceCakes.extras.name ? "checked" : "" %>/>
                        Rice cakes extras
                         <input type="hidden" name="riceCakesExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="udonNoodlesName"  value="Udon Noodles" <%= tteok.toppings.udonNoodles.name ? "checked" : "" %>/>
                        Udon noodles
                         <input type="hidden" name="udonNoodlesNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="udonNoodlesExtrasName"  value="Udon Noodles Extras" <%= tteok.toppings.udonNoodles.extras.name ? "checked" : "" %>/>
                        Udon noodles extras
                         <input type="hidden" name="udonNoodlesExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="ramenNoodlesName"  value="Ramen Noodles" <%= tteok.toppings.ramenNoodles.name ? "checked" : "" %>/>
                        Ramen Noodles
                         <input type="hidden" name="ramenNoodlesNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="ramenNoodlesExtrasName"  value="Ramen Noodles Extras" <%= tteok.toppings.ramenNoodles.extras.name ? "checked" : "" %>/>
                        Ramen Noodles extras
                         <input type="hidden" name="ramenNoodlesExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="fishCakesName"  value="Fish Cakes" <%= tteok.toppings.fishCakes.name ? "checked" : "" %>/>
                        Fish Cakes
                         <input type="hidden" name="fishCakesNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="fishCakesExtrasName"  value="Fish Cakes Extras" <%= tteok.toppings.fishCakes.extras.name ? "checked" : "" %>/>
                        Fish Cakes extras
                         <input type="hidden" name="fishCakesExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="eggsName"  value="Eggs" <%= tteok.toppings.eggs.name ? "checked" : "" %>/>
                        Eggs
                         <input type="hidden" name="eggsNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="eggsExtrasName"  value="Eggs Extras" <%= tteok.toppings.eggs.extras.name ? "checked" : "" %>/>
                        Eggs extras
                         <input type="hidden" name="eggsExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="mozzCheeseName"  value="Mozzarella Cheese" <%= tteok.toppings.mozzCheese.name ? "checked" : "" %>/>
                        Mozzarella Cheese
                         <input type="hidden" name="mozzCheeseNamePrice" value="4">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="mozzCheeseExtrasName"  value="Mozzarella Cheese Extras" <%= tteok.toppings.mozzCheese.extras.name ? "checked" : "" %>/>
                        Mozzarella Cheese extras
                         <input type="hidden" name="mozzCheeseExtrasPrice" value="4">
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="miniSausagesName"  value="Mini Sausages" <%= tteok.toppings.miniSausages.name ? "checked" : "" %>/>
                        Mini Sausages
                         <input type="hidden" name="miniSausagesNamePrice" value="3">
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="miniSausagesExtrasName"  value="Mini Sausages Extras" <%= tteok.toppings.miniSausages.extras.name ? "checked" : "" %>/>
                        Mini Sausages extras
                         <input type="hidden" name="miniSausagesExtrasPrice" value="3">
                      </label>
                      </div>
                      <br>

              </div>
              <div class="review-list-right">

                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>

              </div>
            </div>
            <hr>
            <div class="toppings-total">
              <p>Total: <span id="price">0</span></p>
            </div>
            <br><br>
            <div class="edit-bowl">
              <input type="submit" value="Edit bowl"></input>
            </div>
          </form>
          </div>
          
        <div class="bowl-img-review">
          <img src="https://via.placeholder.com/446x409.png">
        </div>

      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>