<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Review</div>
    </nav>
    <main class="main-review">
      <div class="review-container">
        <div class="go-back">
          <script>
            document.write('<a href="/cart"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>

        <div class="review-list">
          <h2>Review/Edit Bowl</h2>


                <form action="/cart/<%=tteok._id%>/review?_method=PUT" method="POST">
                  <label>
                    Name: <input class="bowl-name" type="text" name="name" value="<%= tteok.name %>"/>
                  </label>
                  <br><br>

                  Spice Level
                  <hr>

                  <input type="radio" id="mild" value="Mild" name="mild" <%= tteok.spiceLevel.mild ? "checked" : "" %>>
                  <label for="mild">Mild</label>
                  <input class="tab" type="radio" id="original" value="Original" name="original" <%= tteok.spiceLevel.original ? "checked" : "" %>>
                  <label for="original">Original<img src="https://i.imgur.com/x3riXKv.png"></label>
                  <input class="tab" type="radio" id="spicy" value="Spicy" name="spicy" <%= tteok.spiceLevel.spicy ? "checked" : "" %>>
                  <label for="spicy">Spicy<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
                  <input class="tab" type="radio" id="volcano" value="Volcano" name="volcano" <%= tteok.spiceLevel.volcano ? "checked" : "" %>>
                  <label for="volcano">Volcano<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>

                  <br><br><br>

                  Toppings
                  <hr>
                  <div class="review-items">
                    <div class="review-list-left">

                      <label>
                        <input class="calc" type="checkbox" name="riceCakesPrice"  value="3" <%= tteok.toppings.riceCakes.price ? "checked" : "" %>/>
                        Rice cakes
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="riceCakesExtrasPrice"  value="3" <%= tteok.toppings.riceCakes.extras.price ? "checked" : "" %>/>
                        Rice cakes extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="udonNoodlesPrice"  value="3" <%= tteok.toppings.udonNoodles.price ? "checked" : "" %>/>
                        Udon noodles
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="udonNoodlesExtrasPrice"  value="3" <%= tteok.toppings.udonNoodles.extras.price ? "checked" : "" %>/>
                        Udon noodles extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="ramenNoodlesPrice"  value="3" <%= tteok.toppings.ramenNoodles.price ? "checked" : "" %>/>
                        Ramen noodles
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="ramenNoodlesExtrasPrice"  value="3" <%= tteok.toppings.ramenNoodles.extras.price ? "checked" : "" %>/>
                        Ramen noodles extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="fishCakesPrice"  value="3" <%= tteok.toppings.fishCakes.price ? "checked" : "" %>/>
                        Fish cakes
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="fishCakesExtrasPrice"  value="3" <%= tteok.toppings.fishCakes.extras.price ? "checked" : "" %>/>
                        Fish cakes extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="eggsPrice"  value="3" <%= tteok.toppings.eggs.price ? "checked" : "" %>/>
                        Eggs
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="eggsExtrasPrice"  value="3" <%= tteok.toppings.eggs.extras.price ? "checked" : "" %>/>
                        Eggs extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="mozzCheesePrice"  value="3" <%= tteok.toppings.mozzCheese.price ? "checked" : "" %>/>
                        Mozzarella cheese
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="mozzCheeseExtrasPrice"  value="3" <%= tteok.toppings.mozzCheese.extras.price ? "checked" : "" %>/>
                        Mozzarella cheese extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="miniSausagesPrice"  value="3" <%= tteok.toppings.miniSausages.price ? "checked" : "" %>/>
                        Mini sausages
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="miniSausagesExtrasPrice"  value="3" <%= tteok.toppings.miniSausages.extras.price ? "checked" : "" %>/>
                        Mini sausages extras
                      </label>
                      </div>
                      <br>
        
                      <label>
                        <input class="calc" type="checkbox" name="spamPrice"  value="3" <%= tteok.toppings.spam.price ? "checked" : "" %>/>
                        Deep fried spam
                      </label>
                      <br>
                      <div class="tab">
                      <label>
                        <input class="calc" type="checkbox" name="spamExtrasPrice"  value="3" <%= tteok.toppings.spam.extras.price ? "checked" : "" %>/>
                        Deep fried spam extras
                      </label>
                      </div>
                      <br>

              </div>
              <div class="review-list-right">

                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>
  
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <label>
                  <input class="price-box" type="checkbox">
                  <font class="font-right">$3</font>
                </label>
                <br>

              </div>
            </div>
            <hr>
            <div class="toppings-total">
              <p>Total: $<span id="price">0</span></p>
            </div>
            <br><br>
            <div class="edit-bowl">
              <input type="submit" value="Edit bowl"></input>
            </div>
          </form>
          </div>
          
        <div class="bowl-img-review">
          <img src="<%= tteok.img %>">
        </div>

      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>